@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  background-color: #19191A;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  
}

h1 {
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.name {
  margin: 1rem 0;
  background-image: linear-gradient(90deg, #6a5acd 0%, #7e57c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.name:hover {
  background-image: linear-gradient(90deg, #ffcccc 0%, #ff99a9 100%);
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  text-wrap: wrap;
}
.home-title {
  margin-top: 4.5em;
}
@media (max-width: 915px) and (max-height: 412px) {
  .home-title {
    margin-bottom: 16em;
  }
}


@media (max-width: 450px) and (max-height: 940px) {
  .home-title {
    margin-bottom: 11em;
  }
}
@media (max-width: 380px) and (max-height: 670px) {
  .home-title {
    margin-bottom: 4em;
  }
}

.SineWave {
  position: relative;
}

/* Media query for smaller screens */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  .home-section {
    height: auto;
    padding: 20px;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  align-items: center;
  text-wrap: wrap;
}

.about-title {
  margin: 1rem 0;
  background-color: #4caf50;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}


.university {
  font-weight: bold;
  background-color: #2196f3;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about-me {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  align-items: center;
  justify-content: center;
  text-align: left;
  max-width: 40%;
}
@media screen and (max-width: 1400px) {
  
  .about-me {
    max-width: 90vw;
    margin: 2em;
  }
  
}

.about-me p {
  margin: 1rem 0;
}
.chilean_ch{
  background-color: #054988;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.chilean_ile{
  background-color: #D52B1E;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}
.about-me .arduino {
  background-color: #0F7391;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.about-me .raspberrypi {
  background-color: #BD1144;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.projects-title {
  margin: 0rem 0 3rem 0;
  background-color: #2196f3;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  cursor: pointer;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}
.contact-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  text-wrap: wrap;
}
.contact-title {
  margin: 3rem 0 4rem 0;
  background-color: #ff9800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  cursor: pointer;
}
.contact-section {
  padding: 2em;
  text-align: center;
}
/* contact-section.css */


.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 80%; /* Reducir el ancho del formulario en pantallas más pequeñas */
  height: 40vh;
  padding: 2em;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.contact-section input,
.contact-section textarea,
.contact-section button {
  width: 100%; /* Hacer que los elementos ocupen todo el ancho del formulario */
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .contact-section form {
    width: 90%; /* Reducir aún más el ancho del formulario en pantallas muy pequeñas */
  }
}


.contact-section button {
  color: #fff;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #FF9800; /* Darker blue on hover */
}
